<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
            <span class="join-waitlist">Join Waitlist</span>
        </div>
        <div class="hamburger" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="nav-links">
            <li><a href="roadmap" class="nav-link-text">Roadmap</a></li>
            <li><a href="mining" class="nav-link-text">Mining</a></li>
            <li><a href="join" class="nav-link-text">Join</a></li>
            <li><a href="#" class="nav-link-text">Get Early Access</a></li>
            <li><a href="download" class="nav-link-text">Download App</a></li>
          </ul>
    </nav>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
