@media only screen and (max-width: 600px) {
    .resize-on-small-and-down {
        font-size: 100px !important;
    }
    .vid-before::before {
      border-radius: 0px !important;
    }
    .video {
      border-radius: 0px !important;
    }
}
@media only screen and (max-width: 840px) {
	.resize-on-med-and-down {
		width: -webkit-fill-available;
        height: auto;
    }
}
@media only screen and (min-width: 1280px) {
	.vid-before::before {
		border-radius: 0px !important;
	}
	.video {
	  border-radius: 0px !important;
	}
}

/* scroll logic start */
main{
    width: 100%;
    /*height: 100%;*/ /*interferes with scroll-behavior: smooth;*/
    overflow: auto;
}
html, body{
    height: 100%;
	overflow:   scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}
/* scroll logic end */


td {
	padding-left: 1.0rem !important;
	padding-right: 1.0rem !important;
}
th {
	padding-left: 1.0rem !important;
	padding-right: 1.0rem !important;
}

.logoFont {
    font-family: 'Averia Sans Libre', cursive;
    }
.textFont {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    }
.textFontButton {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    }
.smallTextFontButton {
	font-family: 'Zen Maru Gothic', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	}
button {
    all: unset;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}
.no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/*
button:focus {
    outline: orange 5px auto;
    text-decoration: underline;
}
*/
a {
    all: unset;
}
.vrightline {
	border-right: 2px solid lightgrey;
	height: 90%;
	left: 50%;
	top: 0;
}
.vleftline {
	border-left: 2px solid lightgrey;
	height: 90%;
	left: 50%;
	top: 0;
}

.highlight:hover {
	background-color: lightgrey;
  }
.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
.fade-in-1 {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.fade-in-2 {
  animation: fadeIn ease 1.25s;
  -webkit-animation: fadeIn ease 1.25s;
  -moz-animation: fadeIn ease 1.25s;
  -o-animation: fadeIn ease 1.25s;
  -ms-animation: fadeIn ease 1.25s;
}
.fade-in-3 {
  animation: fadeIn ease 1.6s;
  -webkit-animation: fadeIn ease 1.6s;
  -moz-animation: fadeIn ease 1.6s;
  -o-animation: fadeIn ease 1.6s;
  -ms-animation: fadeIn ease 1.6s;
}
.fade-in-fast {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}
.fade-in-very-fast {
    animation: fadeIn ease .25s;
    -webkit-animation: fadeIn ease .25s;
    -moz-animation: fadeIn ease .25s;
    -o-animation: fadeIn ease .25s;
    -ms-animation: fadeIn ease .25s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

iframe .litepaper {
    /*
    #width: 100vw;
    #height: 100vh;
    */
    pointer-events: none;
}

/* video overlay edges
div {
  position: relative;
}*/
.vid-before-before {
	position: relative;
  top: 0;
  left: auto;
  right: auto;
  max-width: 1280px;
  width: 100%;
  /*height: 0;
  margin-bottom: 40rem;*/
}
.vid-before {
  position: relative;
  top: 0;
  left: auto;
  right: auto;
  max-width: 1280px;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.vid-before::before {
  position: absolute;
  content: '';
  z-index: 2;
  /*
  border-radius: 200px;
  */
  /*top and bottom
  */
  /*mostly top and bottom*/
  top: 0;
  left: 0;
  right: 0;
  max-width: 1280px;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}
.video {
  display: block;
	position: absolute;
  top: 0;
  left: auto;
  right: auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
	z-index: 1;
	pointer-events: auto !important;
  /*border-radius: 250px;*/
}

.link-immatation-hover {
  color: black;
  cursor: pointer;
}

.link-immatation-hover:hover {
  color: #F6B042;
}
