<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% include 'links.html' %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>
  {% endblock %}
  <body id='entire-body'>
	{% include 'nav-top.html' %}
    <main>
		{% include 'header.html' %}
      <div class="container-fluid py-4">
        {% include 'flash.html' %}
        {% block content %}
        {% endblock %}
        {% include 'footer.html' %}
        <!--{ % include 'footer.html' % }-->
      </div>
    </main>
    <!--{ % include 'settings.html' % }-->
  </body>
</html>
