<div id="veryBottom" class="fade-in-very-fast" style="
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;">
  <div style="display: flex;justify-content: center;width: 100%;">
    <p class="textFont" style="
      font-weight: lighter;
      font-size: xx-small;
      color: lightgrey;
      background-color: white;
      padding-left: .25rem;
      padding-right: .25rem;
      margin-bottom: 0rem;">
      <a class="cursor-pointer" href="/static/legal/website-eula.txt" target="_blank">End User License Agreement</a>
    </p>
  </div>
</div>