<center>
    <div class="fade-in">
		<p style='margin-top:50px;' class="textFont">Satori Neurons are automated and help the network know the future of everything.</p>
		<p style='margin-bottom: 50px;' class="textFont">Anyone can run a neuron.</p>
		<button class="textFontButton" onclick="showDownload()">Download</button>
		<br />
		<button class="textFontButton"><a href="#"><img src="{{ url_for('static', filename='img/screenshots/nodeui2.png') }}" onclick="showDownload()" style="margin-top:50px;border: .1rem solid black;border-radius: .3rem;max-width: 1404px;max-height:850px;width: 100%;" title='Neuron software' class="resize-on-med-and-down" alt="Satori Neuron software user interface"></a></button>
		<center><i><p class="textFont">Satori Neuron</p></i></center>
		<br />
		<button class="textFontButton"><a href="https://github.com/SatoriNetwork">Open Source: Github</a></button>
		<p id="donate" style='margin-top:50px;margin-bottom: 50px;' class="textFont">Donate</p>
		<p class="textFont">BTC bc1q6cfehh02078fpqa4ccxsnlxcgk6ucmgh5py2jf</p>
		<p class="textFont">ETH 0x44e6D7301F3D552Ed97aFF868d966202Bb6FB419</p>
		<p class="textFont">RVN RJnd9Hn3T9pJMj9BMyL39qpLfVe9uUeWPM</p>
		<p class="textFont">EVR ETtu2aQna2JnU5FA6csVTy6fco4zHjhTcw</p>
		<p style='margin-top:50px;margin-bottom: 50px;' class="textFont">Join the Conversation</p>
		<button class="textFontButton"><a href="https://twitter.com/Satorinetio">Twitter</a></button>
		<button class="textFontButton"><a href="https://discord.gg/va6FK77R3F">Discord</a></button>
		<br />
		<p style='margin-top:50px;margin-bottom: 50px;' class="textFont">More Resources</p>
		<p class="textFont">
		Links:
		<!--<br><a href='https://satorinet.io/' target='_blank'>Website</a>-->
		<br><a class="cursor-pointer" href='https://satorinet.io/vision' target='_blank'>Litepaper</a>
		<br><a class="cursor-pointer" href='https://satorinet.io/tokenomics' target='_blank'>Tokenomics</a>
		<br><a class="cursor-pointer" href='https://github.com/satorinetwork' target='_blank'>Github</a>
		<br><a class="cursor-pointer" href='http://127.0.0.1:24601/dashboard' target='_blank'>Satori Neuron UI (local)</a>
		<br><a class="cursor-pointer" href='https://medium.com/@jordan.kay/satori-in-alpha-821bdb90f77e' target='_blank'>Alpha Announcement</a>
		<br><a class="cursor-pointer" href='https://medium.com/@jordan.kay/satori-in-beta-89e41f245785' target='_blank'>Beta Announcement</a>
		<br>
		<br>Videos:
		<br><a class="cursor-pointer" href='https://youtu.be/zT4eCmTbo7M' target='_blank'>Satori Explainer</a>
		<br><a class="cursor-pointer" href='https://youtu.be/-dvZsGckCjU' target='_blank'>Why Satori?</a>
		<br><a class="cursor-pointer" href='https://www.youtube.com/watch?v=mQXhSyMWIrQ' target='_blank'>Proof Of Talk: The Cryptocurrency Podcast Ep 8 - Satori: Predicting the future With Decentralized AI </a>
		<br><a class="cursor-pointer" href='https://youtu.be/lfAWhGTDrzI' target='_blank'>Tutorial - How to setup a Data Stream in the Satori Neuron</a>
		<br><a class="cursor-pointer" href='https://youtu.be/PuJBwjTw01w' target='_blank'>Tutorial - How to setup a bunch of Data Streams at once in the Satori Neuron</a>
		<br><a class="cursor-pointer" href='https://youtu.be/r5FE0lCTX80' target='_blank'>Tutorial - How to setup a Satori Neuron on Windows</a>
		<br>
		<br>In the Media:
		<br><a class="cursor-pointer" href='https://blog.streamr.network/introducing-satori-a-decentralized-real-time-prediction-network/' target='_blank'>Satori reviewed by Streamr</a>
		<br><a class="cursor-pointer" href='https://decentreviews.co/reviews/satori' target='_blank'>Satori reviewed by DecentReviews.co</a>
		<br><a class="cursor-pointer" href='https://medium.com/coinmonks/satori-a-blockchain-of-ais-built-to-predict-the-future-2eeaf4d8d390' target='_blank'>Article about Satori by CyberPunkMetalHead</a>
		<!--<button class="textFontButton"><a href="https://www.reddit.com/r/SatoriNetwork/">Reddit</a></button>-->
	</div>
  </center>