<center>
  <div id="miningContent" class="fade-in" style='min-height: 0px;'>
    <p class="textFont" style='margin-top:50px;'>Satori is an open-source community project.</p>
    <p class="textFont">The Satori Association is a non-profit organization that supports the Satori Network and its ecosystem.</p>
    <div class="fade-in-fast" style="margin-top:3rem;">
      <p class="textFontButton" id="distribution">Team Members</p>
      <div class="row" style="margin: 2rem;">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <img src="{{ url_for('static', filename='img/communitysquare.webp') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="Community">
          <p style="margin-top: 10px;" class="textFont">Community</p>
          <p style="margin-top: 1rem;" class="textFont">Principal Authority</p>
          <p style="margin-top: 1rem;" class="textFont">Satori is primarily a community project, with the community serving as the guiding force of the network. Token holders explicitly control the network's behavior and direction through voting. Members of the Satori community on Discord have been instrumental in testing, developing, and advancing the project. The Satori community is the most crucial member of the team.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://discord.gg/va6FK77R3F" target='_blank'>Discord</a></p>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <p class="textFontButton" id="distribution">AI Engine Inititive:</p>
      <div class="rounded-divider" style='margin-bottom:50px;width: 14.6%;height: 2px;background-color: #777;border-radius: 2px;'></div>
      <div class="row" style="margin: 2rem;">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
          <img src="{{ url_for('static', filename='img/wil_original.jpg') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="William Bown">
          <p style="margin-top: 10px;" class="textFont">Wil Bown</p>
          <p style="margin-top: 1rem;" class="textFont">Resident AI Expert</p>
          <p style="margin-top: 1rem;" class="textFont">Wil is a self-proclaimed Mad Scientist with a lifelong involvement in technology. He has built projects in blockchain, VR, and most recently, deep learning architectures. With a voracious appetite for knowledge, Wil has immersed himself in the field of AI, staying up-to-date with the latest research and developments. His extensive reading and hands-on experience make him an invaluable asset to lead Satori's Research and Development. With Wil's expertise, the Satori AI engine will evolve into its most efficient and effective form.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://www.linkedin.com/in/wilbown/" target='_blank'>LinkedIn</a> | <a href="https://twitter.com/WilBown" target='_blank'>X</a></p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <img src="{{ url_for('static', filename='img/jeromesoller.png') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="Jerome Soller">
          <p style="margin-top: 10px;" class="textFont">Jerome Soller, PhD</p>
          <p style="margin-top: 1rem;" class="textFont">ML Expert</p>
          <p style="margin-top: 1rem;" class="textFont">Dr. Soller, received his BS in Electrical Engineering from the Johns Hopkins University and his PhD in Computer Science from the University of Utah. Dr. Soller worked as a software developer for the VA, a Research Investigator at the Salt Lake VA GRECC, a Limited Term Instructor at the University of Utah, the President of CogniTech Corporation, and on the Board of Directors for a US non-profit organization. He has more than thirty years of experience in project management, software engineering, software systems architecture, Modeling & Simulation (M&S), data engineering, data analytics,  Big Data, Machine Learning (ML), Artificial Intelligence (AI), data mining, and time series analysis. He led or participated in multiple decision support, AI, ML, M&S, healthcare information systems, and aerospace standards efforts. Dr. Soller is a valuable member of the Satori team, focusing on the AI Engine initiative.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://www.linkedin.com/in/jerome-soller-619908a/" target='_blank'>LinkedIn</a></p>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <p class="textFontButton" id="distribution">Decentralization Inititive:</p>
      <div class="rounded-divider" style='margin-bottom:50px;width: 14.6%;height: 2px;background-color: #777;border-radius: 2px;'></div>
      <div class="row" style="margin: 2rem;">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
          <img src="{{ url_for('static', filename='img/krishnaprem.png') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="Unknown">
          <p style="margin-top: 10px;" class="textFont">Krishna Prem</p>
          <p style="margin-top: 1rem;" class="textFont">Smart Contracts</p>
          <p style="margin-top: 1rem;" class="textFont">As a recent graduate of the APJ Abdul Kalam Technological University, Krishna Prem brings an immense amount of energy and to the Satori team. Krishna's dedication and hard work have quickly established him as a key player in our development efforts. His role in writing and testing our smart contracts is critical, and his potential is limitless. Krishna is not only bright and committed but also unafraid to take on significant responsibilities and shine in his work. His contributions are instrumental in driving Satori forward.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://www.linkedin.com/in/krishna-prem-989a50265/" target='_blank'>LinkedIn</a></p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <img src="{{ url_for('static', filename='img/unknown.png') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="Unknown">
          <p style="margin-top: 10px;" class="textFont">Unknown</p>
          <p style="margin-top: 1rem;" class="textFont">Resident Blockchain Expert</p>
          <p style="margin-top: 1rem;" class="textFont">We are currently seeking a blockchain or smart contract expert to enhance Satori's blockchain integrations. These improvements will allow Satori to become more decentralized and autonomous. Please reach out to us on Discord if you're interested in helping Satori grow.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://discord.gg/va6FK77R3F" target='_blank'>Discord</a></p>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <p class="textFontButton" id="distribution">Infrastructure Inititive:</p>
      <div class="rounded-divider" style='margin-bottom:50px;width: 14.6%;height: 2px;background-color: #777;border-radius: 2px;'></div>
      <div class="row" style="margin: 2rem;">
        <div class="col-sm-4">
          <img src="{{ url_for('static', filename='img/unknown.png') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="Unknown">
          <p style="margin-top: 10px;" class="textFont">Unknown</p>
          <p style="margin-top: 1rem;" class="textFont">DevOps Engineer</p>
          <p style="margin-top: 1rem;" class="textFont">We are currently seeking a DevOps Engineer with development experience to expand Satori's infrastructure. These improvements will allow Satori to scale with ease, and serve as a testing ground for new features and functionalities to be decentralized. Please reach out to us on Discord if you're interested in helping Satori grow.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://discord.gg/va6FK77R3F" target='_blank'>Discord</a></p>
        </div>
        <div class="col-sm-4">
          <img src="{{ url_for('static', filename='img/WilQSL.png') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="Unknown">
          <p style="margin-top: 10px;" class="textFont">Sebastian Wilczynski</p>
          <p style="margin-top: 1rem;" class="textFont">Tester, Satori Box</p>
          <p style="margin-top: 1rem;" class="textFont">Sebastian began his programming journey in the 90s and has a solid background in computer systems electronics. Since 2004, he has been dedicated to implementing Linux solutions for home users. With extensive knowledge and decades of experience Sebastian is an early adopter, anticipating evolving trends in information technology. Currently, he is a strong advocate for blockchain technology and is passionate about integrating AI solutions with blockchains. His diverse expertise in electronics and programming makes him a valuable addition to the Satori team, where he will primarily focus on the Satori Box and community support.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://www.linkedin.com/in/sebastian-wilczynski-a960b988/" target='_blank'>LinkedIn</a> | <a href="https://x.com/WilQSL" target='_blank'>X</a></p>
        </div>
        <div class="col-sm-4">
          <img src="{{ url_for('static', filename='img/jordandarksoft.png') }}" style="border: 0.1rem solid black; border-radius: 0.3rem; max-width: 650px; max-height: 650px; width: 100%;" class="resize-on-med-and-down" alt="Jordan Miller">
          <p style="margin-top: 10px;" class="textFont">Jordan Miller</p>
          <p style="margin-top: 1rem;" class="textFont">Founder</p>
          <p style="margin-top: 1rem;" class="textFont">Jordan has spent the last decade obsessed with building a worldwide prediction AI network and the last two years bringing it to life. His career as a lead developer with a background in Business Intelligence has equipped him with the skills needed to build the initial minimum viable version of every aspect of the Satori system, from the Satori Neuron application to its integration with the Evrmore Blockchain, and the servers that support the network. Having launched the concept, Jordan now supports specialized experts in various domains to elevate Satori to the next level.</p>
          <p style="margin-top: 1rem;" class="textFont cursor-pointer"><a href="https://www.linkedin.com/in/jordan-kristopher-miller/" target='_blank'>LinkedIn</a> | <a href="https://twitter.com/jordanmiller333" target='_blank'>X</a></p>
        </div>
      </div>
    </div>
  </div>
</center>
