<center>
  <div class="fade-in">
    <p class="textFont">Satori is a future oracle.</p>
    <p class="textFont">Satori predicts the future of everything.</p>
    <!--<p class="textFont">Satori consolidates a coherent and cohesive view of future.</p>-->
    <p class="textFont">All predictions are freely available to everyone.</p>
    <br/>
    <div class='vid-before-before'>
      <div class='vid-before'>
        <iframe 
          class="video"
          src="https://www.youtube.com/embed/zT4eCmTbo7M?controls=0&amp;autoplay=1"
          title="Satori Explainer" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen></iframe>
      </div>
    </div>
    <br/>
    <br/>
    <p class="textFont">Satori is an open source, community driven project.</p>
    <p class="textFont">It's auditable and transparent.</p>
    <p class="textFont">It aims at being the largest prediction network in the world.</p>
    <br/>
    <br/>
    <button class="textFontButton">
      <a href="https://docs.google.com/document/d/e/2PACX-1vSn2hOYs2QtKBsGAovbZKyeGMdGIe3MX6BZaLvvK2ZVaml2W9_XQeiUQQvtL9g9ycfunm1rC3vscVNr/pub" target="_blank">
        Litepaper
      </a>    
    </button>
    <br/>
    <br/>
    <iframe
      class="litepaper"
      height="12000"
      src="https://docs.google.com/document/d/e/2PACX-1vSn2hOYs2QtKBsGAovbZKyeGMdGIe3MX6BZaLvvK2ZVaml2W9_XQeiUQQvtL9g9ycfunm1rC3vscVNr/pub?embedded=true"
      style="border: .1rem solid black;border-radius: .3rem;max-width: 800px;width: 100%;"></iframe>
  </div>
</center>