<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<link id="pagestyle" href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet" />
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<link href="{{ url_for('static', filename='site/favicon.ico') }}" rel="icon" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='timeline/style.css') }}" rel="stylesheet" />
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
<style type="text/css">      
  #distribution-rate { 
    width: 80%; height: 25rem; margin: 0; padding: 0; 
  } 
</style>