<div 
id="scrim" 
style="display: flex; justify-content: center; align-items: center; position: absolute; bottom: 0; background: rgba(0, 0, 0, 0.8);width: 100%;transition: .5s ease;opacity:1;font-size: 20px;padding: 20px;text-align: center;height: 100%;z-index: 10000;"
onclick="dismissScrimAndVideo()">
  </center>
    <div class='vid-before-before'>
      <div class='vid-before'>
        <iframe 
        id="satoriVideo"
        class="video"
        src="https://www.youtube.com/embed/zT4eCmTbo7M?controls=1&amp;autoplay=1&amp;mute=0"
        title="Satori Explainer" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        onclick="console.log('clicked');"
        ></iframe>
      </div>
    </div>
  </center>
</div>
