<style>
  .vtimeline-container {
    align-items: center;
    margin: 0;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 3rem;
  }
  
  .vtimeline {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  
  .vtimeline-header {
    width: 100%;
    text-align: center;
    background: white;
    padding: 10px;
    /*border-radius: 8px;*/
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    z-index: 1;
  }
  
  .vtimeline-header h5 {
    color: #333333;
    margin: 0;
  }
  
  .vtimeline-item {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    width: 100%;
    min-width: 200px;
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .vtimeline-content h3 {
    margin: 0;
    font-size: 18px;
    color: #444444;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .vtimeline-content p {
    margin: 5px 0 0;
    font-size: 14px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .vtimeline-content p.more-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  
  .vtimeline-content.expanded p.more-content {
    max-height: 150px; /* Adjust as necessary */
    opacity: 1;
  }
  
  .vtimeline-accomplished {
    border: 2px solid grey;
  }
  
  .vtimeline-in-progress {
    border: 2px dashed grey;
  }
  
  .vtimeline-plans {
    color: grey;
    border: 1px solid lightgrey;
    opacity: 0.6;
  }

  .completed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
</style>
<center>
  <div id="roadmapContent" class="fade-in" style='min-height: 0px;margin-left: 2rem; margin-right: 2rem;'>
    <p class="textFont" style='margin-top:50px;'>Satori's efforts can be broken into three broad inititves.</p>
    <p class="textFont">Through incremental improvements, Satori aims at accurate decentralized prediction of our collective future.</p>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="vtimeline-container">
          <div class="vtimeline">
            <div class="vtimeline-item vtimeline-accomplished" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Build MVP</h3>
                <p>The AI Engine must produce predictions of the future and make better predictions over time.</p>
                <p class="more-content">It does so using ML and AI algorithms, but as an MVP is not optimized.</p>
              </div>
            </div>
            <div class="completed-container">
              <span class="textFont">completed</span>
            </div>
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Add GPT and other DNN models</h3>
                <p>Chronos and other GPT models integrated with existing ML algorithms.</p>
                <p class="more-content">This allows the Satori AI Engine to take advantage of GPUs more efficiently.</p>
              </div>
            </div>
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Improve Correlation Search</h3>
                <p>Leverage network effects for a more efficient guided search of correlated datastreams.</p>
                <p class="more-content">This allows the Satori AI Engine to become much more powerful as it intelligently searches datastreams to find contextual correlations.</p>
              </div>
            </div>
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Implement Latent Pooling</h3>
                <p class="more-content">Secret sauce. Will be open sourced as it's implemented.</p>
              </div>
            </div>
            <div class="vtimeline-header">
              <h5>AI Engine</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="vtimeline-container">
          <div class="vtimeline">
            <div class="vtimeline-item vtimeline-accomplished" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Peer-to-Peer Network</h3>
                <p>Satori Neurons are able to send information to each other in a peer-to-peer fashion.</p>
                <p class="more-content">As an initial layer of decentralization, this makes the Satori Network censorship resistent while also providing certain efficiencies inherent in direct communication.</p>
              </div>
            </div>
            <div class="completed-container">
              <span class="textFont">completed</span>
            </div>
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Multisig Rewards</h3>
                <p>Daily mining rewards require multiple signatures to be approved.</p>
                <p class="more-content">This means control over mining rewards is shared, decentralizing Satori's mining algorithm.</p>
              </div>
            </div>
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Additional Smart Contracts</h3>
                <p>Vote and other features should eventually be handled by automated smart contracts rather than just (albeit auditable) cryptographic signatures.</p>
                <p class="more-content">Smart contracts often have a cost which can be avoided by using cryptographic signatures instead. The results are auditable on chain, but they come with the drawback of trusting a centralized entity until results are verified. To remove the centralized component Smart Contracts must be involved.</p>
              </div>
            </div>
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Fully Decentralized Autonomous Organization</h3>
                <p class="more-content">This includes improvements to Satori's decentralized governance system, as well as the integration of 3rd party pubsub systems, and could also include new technology.</p>
              </div>
            </div>
            <div class="vtimeline-header">
              <h5>Decentralization</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="vtimeline-container">
          <div class="vtimeline">
            <div class="vtimeline-item vtimeline-accomplished" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Build the Satori Neuron</h3>
                <p>The Satori Neuron is the software running on machines around the world, comprising the Satori Network.</p>
                <p class="more-content">These neurons come equipped with a the Satori AI Engine, a wallet, the ability to allow node opperators to vote and provide information (as an oracle) to the network, and are fully automated.</p>
              </div>
            </div>
            <div class="vtimeline-item vtimeline-accomplished" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Build Satori Servers and Infrastructure</h3>
                <p>Satori Servers support the Satori Network of Neurons by helping them coordinate their efforts.</p>
                <p class="more-content">Most of the Satori Servers can be thought of as scaffolding meant to be replaced by blockchain and decentralized infrastructure and protocols once their functions have been matured.</p>
              </div>
            </div>
            <div class="completed-container">
              <span class="textFont">completed</span>
            </div>					
            <!--<div class="rounded-divider" style='margin-bottom:0px;width: 14.6%;height: 2px;background-color: #777;border-radius: 2px;'></div>-->
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Continue to Iterate</h3>
                <p>The Neuron and the infrastructure at large need updates as the Satori AI Engine is improved and The Satori Association's decentralization efforts continue.</p>
                <p class="more-content">These improvements are incremental and also include refactoring and optimization.</p>
              </div>
            </div>
            <div class="vtimeline-item vtimeline-plans" onclick="vtimeline_expand(this);">
              <div class="vtimeline-content">
                <h3>Replace Satori Servers</h3>
                <p class="more-content">Once the function of the Satori Server's are matured they can be embodied by decentralized infrastructure such as smart contracts and the Satori blockchains.</p>
              </div>
            </div>          
            <div class="vtimeline-header">
              <h5>Infrastructure</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
