<center>
  <div id="miningContent" class="fade-in" style='min-height: 0px;'>
    <p class="textFont" style='margin-top:50px;'>Community-led mining means the token holders are in charge.</p>
    <p class="textFont">Tokens are earned according to the manifest and approved by the community.</p>
    <div class="fade-in-fast table-responsive" style="padding-left:1rem;padding-right:1rem;margin-top:100px;">
      <p class="textFontButton" id="distribution">Distribution Rate</p>
      <div id="distribution-info" class="textFont" style='min-height:5rem;'>
        <p>Each day a set number of coins are minted according to this predetermined schedule.</p>
        <p>Ultimately, the Satori token distribution rate is controlled by token holders, via vote.</p>
      </div>
      <div id="distribution-rate" style="max-width: 1280px;"></div>
    </div>
    <div class="fade-in-fast table-responsive" style="padding-left:1rem;padding-right:1rem;margin-top:100px;">
      <p class="textFontButton" id="manifest" onMouseOver="showMintingInfoDefault()" onclick="showMintingInfoDefault()">Daily Minting Manifest</p>
      <div id="manifest-info" class="textFont" style='min-height:5rem;'>
        <p>This manifest is controlled by token holders via vote.</p>
        <p>Miners who support the network in the ways listed below share in the daily rewards though community mining.</p>
      </div>
      <table class="table align-items-center mb-0" aria-describedby="manifest"  style="max-width: 1280px;">
        <thead>
          <tr>
            <th class="smallTextFontButton text-secondary text-md font-weight-bolder opacity-7" style="text-align: end; width:49%;">Activity</th>
            <th class="smallTextFontButton text-secondary text-md font-weight-bolder opacity-7" style="text-align: start; width:49%;" onMouseOver="showMintingInfoRewards()" onclick="showMintingInfoRewards()">Reward</th>
          </tr>
        </thead>
        <tbody>
          <!--has no effect-->
          {# if not allocation is defined #}<script>getAllocation();</script>{# endif #}
          <tr class="highlight" onMouseOver="showMintingInfoPrediction()" onclick="showMintingInfoPrediction()">
            <td style="text-align: end;"><p class="textFont" style="margin-bottom:0px;">Predictions</p></td>
            <td style="text-align: start;" ><p id="predictorsAllocation" class="textFont" style="margin-bottom:0px;">{{ (allocation or {}).get('predictors', 0) * 100 }} %</p></td>
          </tr>
          <tr class="highlight" onMouseOver="showMintingInfoRelay()" onclick="showMintingInfoRelay()">
            <td style="text-align: end;"><p class="textFont" style="margin-bottom:0px;">Oracles</p></td>
            <td style="text-align: start;" ><p id="oraclesAllocation" class="textFont" style="margin-bottom:0px;">{{ (allocation or {}).get('oracles', 0) * 100 }} %</p></td>
          </tr>
          <tr class="highlight" onMouseOver="showMintingInfoInviter()" onclick="showMintingInfoInviter()">
            <td style="text-align: end;"><p class="textFont" style="margin-bottom:0px;">Inviters</p></td>
            <td style="text-align: start;" ><p id="invitersAllocation" class="textFont" style="margin-bottom:0px;">{{ (allocation or {}).get('inviters', 0) * 100 }} %</p></td>
          </tr>
          <tr class="highlight" onMouseOver="showMintingInfoDevelopment()" onclick="showMintingInfoDevelopment()">
            <td style="text-align: end;"><p class="textFont" style="margin-bottom:0px;">Development</p></td>
            <td style="text-align: start;" ><p id="creatorsAllocation" class="textFont" style="margin-bottom:0px;">{{ (allocation or {}).get('creators', 0) * 100 }} %</p></td>
          </tr>
          <tr class="highlight" onMouseOver="showMintingInfoServers()" onclick="showMintingInfoServers()">
            <td style="text-align: end;"><p class="textFont" style="margin-bottom:0px;">Maintain Infrastructure</p></td>
            <td style="text-align: start;" ><p id="managersAllocation" class="textFont" style="margin-bottom:0px;">{{ (allocation or {}).get('managers', 0) * 100 }} %</p></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="textFontButton" style='margin-top:100px;'>Fair Launch</p>
    <p class="textFont">Satori had no pre-mine and no airdrop.</p>
    <p class="textFont">Satori's tokenomics are designed with a long-term view, aimed at supporting a sustainable, robust, and healthy ecosystem.</p>
    <p class="textFont">Community-led mining means the community of token holders is in charge of the token, and can alter the initial design to dynamically fit a changing world.</p>
    <p class="textFont">Satori's tokenomics are open, auditable, and transparent.</p>
    
    <p class="textFontButton" style='margin-top:100px;'>Audit</p>
    <p class="textFont">The following links direct to a 3rd party block explorer which shows transaction histories, issuance, total supply, and all other originating and current details concerning the SATORI Token.</p>
    <p class="textFont"><a id='auditAddress' href='#' target='_blank' onmouseover='getAuditable()'>Address</a></p>
    <p class="textFont"><a id='auditToken' href='#' target='_blank' onmouseover='getAuditable()'>SATORI Token</a></p>
    <p class="textFont" style='margin-bottom: 100px;'><a id='auditAdminToken' href='#' target='_blank' onmouseover='getAuditable()'>SATORI Administrator Token</a></p>
  </div>
</center>
